body
{
    font-family: 'Special Elite', cursive;
    background: coral;
}

.header_div
{
background-color: cyan;
color: green;
}

.header_div p
{
font-family: 'Roboto', sans-serif;
color: red;
font-size: larger;
letter-spacing: 2px;
font-weight: bold;
}

.main_div button
{
font-family: 'Roboto' , sans-serif;
margin-top:  30px;
width: 130px;
font-weight: bolder;
letter-spacing: 5px;
}


.copy_right_footer
{
position: fixed;
color: crimson;
bottom: 0;
font-size: 18px;
width: 100%;
line-height: 4;
background-color: azure;
text-align: center;
text-shadow: 3px 3px 3px black;
font-weight: bolder;
}